<nav class="navbar" *ngIf="isLoggedIn()">
  <div class="logo-wrapper" (click)="goToDashboard()">
    <img src="/logo.png" alt="NEXUS Logo" class="nexus-logo" />
  </div>

  <ul class="nav-links">
    <li class="welcome-msg" *ngIf="getUserName()">
       <span class="user-label">שלום,</span> {{ getUserName() }}
    </li>

    <li><a (click)="goToDashboard()" class="nav-link">האתרים שלי</a></li>
    <li><a (click)="goToHome()" class="nav-link">דף הבית</a></li>

    <li><button (click)="goToCreate()" class="create-btn">צור אתר חדש</button></li>
    <li><button class="logout-btn" (click)="logout()">התנתק</button></li>
  </ul>
</nav>